<aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                        <ul id="sidebarnav" class="p-t-30">

                                <!-- Dashboard -->
                                <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                href="{% url 'dashboard:dashboard' %}" aria-expanded="false">
                                                <i class="fas fa-tachometer-alt"></i>
                                                <span class="hide-menu">Dashboard</span>
                                        </a>
                                </li>

                                <li class="my-2 mx-3 border-top"></li>

                                <!-- SECTION: Projects -->
                                <li class="nav-small-cap">
                                        <i class="fas fa-minus"></i>
                                        <span class="hide-menu">Projects</span>
                                </li>
                                <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark"
                                                href="{% url 'projects:project_create' %}" aria-expanded="false">
                                                <i class="fas fa-project-diagram"></i>
                                                <span class="hide-menu">Projects</span>
                                        </a>
                                </li>

                                <li class="my-2 mx-3 border-top"></li>

                                <!-- SECTION: Launch Scans -->
                                <li class="nav-small-cap">
                                        <i class="fas fa-minus"></i>
                                        <span class="hide-menu">Launch Scans</span>
                                </li>

                                <!-- Web Scanning -->
                                <li class="sidebar-item">
                                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="#"
                                                aria-expanded="false">
                                                <i class="fas fa-globe"></i>
                                                <span class="hide-menu">Web Scanning</span>
                                        </a>
                                        <ul aria-expanded="false" class="collapse first-level">
                                                <li class="sidebar-item">
                                                        <a href="{% url 'webscanners:index' %}" class="sidebar-link">
                                                                <i class="fas fa-bolt"></i>
                                                                <span class="hide-menu">OWASP ZAP</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:nikto' %}" class="sidebar-link">
                                                                <i class="fas fa-spider"></i>
                                                                <span class="hide-menu">Nikto</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:sslscan' %}" class="sidebar-link">
                                                                <i class="fas fa-lock"></i>
                                                                <span class="hide-menu">SSLScan</span>
                                                        </a>
                                                </li>
                                        </ul>
                                </li>

                                <!-- Network Scanning -->
                                <li class="sidebar-item">
                                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="#"
                                                aria-expanded="false">
                                                <i class="fas fa-network-wired"></i>
                                                <span class="hide-menu">Network Scanning</span>
                                        </a>
                                        <ul aria-expanded="false" class="collapse first-level">
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:nmap_scan' %}" class="sidebar-link">
                                                                <i class="fas fa-search-location"></i>
                                                                <span class="hide-menu">Nmap Port Scan</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:nmap_vulners' %}" class="sidebar-link">
                                                                <i class="fas fa-bug"></i>
                                                                <span class="hide-menu">Nmap + Vulners</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'networkscanners:ip_scan' %}"
                                                                class="sidebar-link">
                                                                <i class="fas fa-shield-alt"></i>
                                                                <span class="hide-menu">OpenVAS</span>
                                                        </a>
                                                </li>
                                        </ul>
                                </li>

                                <!-- Static Code Analysis -->
                                <li class="sidebar-item">
                                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="#"
                                                aria-expanded="false">
                                                <i class="fas fa-code"></i>
                                                <span class="hide-menu">Code Analysis</span>
                                        </a>
                                        <ul aria-expanded="false" class="collapse first-level">
                                                <li class="sidebar-item">
                                                        <a href="{% url 'staticscanners:bandit_scan' %}"
                                                                class="sidebar-link">
                                                                <i class="fas fa-exclamation-triangle"></i>
                                                                <span class="hide-menu">Bandit</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'staticscanners:semgrep_scan' %}"
                                                                class="sidebar-link">
                                                                <i class="fas fa-search-dollar"></i>
                                                                <span class="hide-menu">Semgrep</span>
                                                        </a>
                                                </li>
                                        </ul>
                                </li>

                                <li class="my-2 mx-3 border-top"></li>

                                <!-- SECTION: Scan Results -->
                                <li class="nav-small-cap">
                                        <i class="fas fa-minus"></i>
                                        <span class="hide-menu">Scan Results</span>
                                </li>
                                <li class="sidebar-item">
                                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="#"
                                                aria-expanded="false">
                                                <i class="fas fa-chart-bar"></i>
                                                <span class="hide-menu">View Results</span>
                                        </a>
                                        <ul aria-expanded="false" class="collapse first-level">
                                                <li class="sidebar-item">
                                                        <a href="{% url 'webscanners:list_scans' %}"
                                                                class="sidebar-link">
                                                                <i class="fas fa-globe"></i>
                                                                <span class="hide-menu">Web Scan Results</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'networkscanners:list_scans' %}"
                                                                class="sidebar-link">
                                                                <i class="fas fa-network-wired"></i>
                                                                <span class="hide-menu">Network Results</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'staticscanners:list_scans' %}"
                                                                class="sidebar-link">
                                                                <i class="fas fa-code"></i>
                                                                <span class="hide-menu">Code Analysis Results</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:nmap_result' %}" class="sidebar-link">
                                                                <i class="fas fa-list-alt"></i>
                                                                <span class="hide-menu">Nmap Results</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:niktoresult' %}" class="sidebar-link">
                                                                <i class="fas fa-spider"></i>
                                                                <span class="hide-menu">Nikto Results</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'tools:sslscanresult' %}" class="sidebar-link">
                                                                <i class="fas fa-lock"></i>
                                                                <span class="hide-menu">SSLScan Results</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'pentest:list_scan' %}" class="sidebar-link">
                                                                <i class="fas fa-clipboard-check"></i>
                                                                <span class="hide-menu">Pentest Activity</span>
                                                        </a>
                                                </li>
                                                <li class="sidebar-item">
                                                        <a href="{% url 'report_upload:upload' %}" class="sidebar-link">
                                                                <i class="fas fa-file-upload"></i>
                                                                <span class="hide-menu">Upload Report</span>
                                                        </a>
                                                </li>
                                        </ul>
                                </li>

                                <li class="my-2 mx-3 border-top"></li>

                                <!-- SECTION: Vulnerability Management -->
                                <li class="nav-small-cap">
                                        <i class="fas fa-minus"></i>
                                        <span class="hide-menu">Vuln Management</span>
                                </li>
                                <li class="sidebar-item">
                                        <a href="{% url 'jiraticketing:jira_setting' %}"
                                                class="sidebar-link waves-effect waves-dark">
                                                <i class="fas fa-ticket-alt"></i>
                                                <span class="hide-menu">Jira Ticketing</span>
                                        </a>
                                </li>

                                <li class="my-3 mx-3 border-top"></li>

                                <!-- Settings (Admins only) -->
                                {% if user.is_superuser == True %}
                                <li class="sidebar-item">
                                        <a class="sidebar-link" href="/settings/settings/" aria-expanded="false">
                                                <i class="fas fa-cogs m-r-5 m-l-5"></i>
                                                <span class="hide-menu">Settings</span>
                                        </a>
                                </li>
                                {% endif %}

                        </ul>
                </nav>
        </div>
</aside>